
.root {
  position: relative;
  padding: 0 9%;
  height: 100%;
}
.img {
  max-height: 476px;
  min-height: 300px;
  border: .2rem solid var(--main-color);
  border-radius: 8px;
  position: initial;
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
  animation: showRight 1s linear forwards;
  animation-delay: calc(.3s * var(--i))
}

@keyframes showRight {
  100% {
    width: 0;
  }
}